body {
  background-image: linear-gradient(90deg, #25272d, #2e3038);
  color: rgb(255, 255, 255);
  font-family: "Cairo", sans-serif;
}

.login {
  color: white;
  width: 100%;
  max-width: 200px;
  height: max-content;
  border: none;
  font-family: inherit;
  font-size: 20pt;
  background: inherit;
  align-content: center;
  z-index: 10;
}

.search{
  width:100%;
  background:white;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px black;
}

 .col .search-input{
  border:none;
  width:100%;
  height:100%;
  border-radius: 5px;
  position: relative;

}

.search .icon{
  position:relative;
  float:right;
  font-size: 25px;
}

.login-dropdown.active > .login,
.login:hover {
  background: #1db954;
  transition: all 0.4s ease;
}

.login-dropdown {
  position: relative;
  text-align: center;
}

.login-menu {
  background-color: inherit;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
  font-size: 16pt;
}

.login-dropdown.active >  .login-menu {
  opacity: 1;
  pointer-events: auto;
}

.login-form {
  position:relative;
  width: 80%;
  max-width: 250px;
  border-radius: 5px;
  background-color: white;
  font-size: 16pt;
  margin: 5px 5px 5px 5px;
}

.add-contact {
  display: none;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: black;
}

.add-contact-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.login-dropdown.hidden{
  opacity:0;
  pointer-events:none;
}

.logged-in-ui{
  float:right;
  background-color: inherit;
  font-size: 20pt;
  z-index: 20;
}

.logged-in-ui.hidden{
  display:none;
  opacity: 0;
  pointer-events: none;
}

.logged-in-search.hidden{
  display:none;
}

.search-bar .icon {
  position:relative;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 25px;
  color: #1db954;
  transition: all 0.4s ease;
}

.unlogged-search.hidden{
  display:none;
}

.unlogged-search{
  pointer-events:none;
}

.unlogged-text{
  color:lightslategrey;
  font-size: 1.5rem;
}

.dropdown-button{
  pointer-events:auto;
}

.search-result-list{
  list-style:none;
  padding-left: 10px;
  padding-bottom: 10px;
}

.delete-button{
  float:right;
  height:100%;
  background:inherit;
  border:none;
  color:inherit;
}

.delete-button:hover{
  background: #1db954;
  transition: all 0.4s ease;
}

.edit-button{
  float:right;
  height:100%;
  background:inherit;
  border:none;
  color:inherit;
}

.edit-button:hover{
  background: #1db954;
  transition: all 0.4s ease;
}

.view-button{
  float:right;
  height:100%;
  background:inherit;
  border:none;
  color:inherit;
}

.view-button:hover{
  background: #1db954;
  transition: all 0.4s ease;
}

.contact-table.hidden{
  display:none;
}

.login-menu.hidden{
  display:none;
}

.login-menu.hidden{
  display: none;
}

.search-results-container{
  max-height: 150px;
  overflow-y: auto;
}

.contact-info{
  width:100%;
  max-width:300px;
  position: relative;
  float:right;
  text-align:center;
}

.contact-list{
  width:100%;
  max-width:700px;
  display:flex;
}

#add-contact-menu, #open-contact, #register-menu, #login-menu, #edit-contact{
  background: #1F1F1F;
 
}